/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');

@font-face {
    font-family: 'Sharp Sans';
    src: url('../fonts/sharp-sans-webfont/Sharp\ Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Sans Medium';
    src: url('../fonts/sharp-sans-webfont/Sharp\ Sans\ Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sharp Sans Bold';
    src: url('../fonts/sharp-sans-webfont/SharpSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



/* Cores */
:root {
    --light50: #FEFFFF;
    --primary-500: #3F006F;
}

/* Reset CSS */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Sharp Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */
.menu-item {
    font-style: normal;
    font-weight: 700;
    color: var(--primary-500);
    font-family: 'Sharp Sans Bold', sans-serif;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.menu-item:hover {
    text-decoration: underline;
}

.menu-item.active {
    background-image: url(../img/bg-menu-item.svg);
    background-size: contain;
    color: var(--light50);
}

header {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light50);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    padding: 0 3%;
    position: sticky;
    top: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 624px;
    width: 52%;
}

.hero {
    width: 100%;
    height: 661px;
    background-image: url(../img/bg-home.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-hero {
    width: 138px;
    display: flex;
}

.content-hero {
    width: 326px;
    display: flex;
    flex-direction: column;
    margin-right: 8%;
}

.title-hero h1 {
    font-family: "Bahiana", sans-serif;
    font-style: normal;
    color: var(--primary-500);
    font-size: 90px;
    text-align: center;
    margin: 0;
    line-height: 100%;
}

h1.title-bigger {
    font-size: 120px;
}

h3.desc {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: var(--primary-500);
}

strong {
    font-weight: bold;
}

.content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60%;
}

.content-one h2,
.minha-trajetoria h2 {
    font-family: 'Bahiana';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    color: var(--primary-500);
}

.minha-trajetoria {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
}

.btn {
    background: var(--primary-500);
    border-radius: 10px;
    display: flex;
    width: 295px;
    height: 90px;
    justify-content: center;
    align-items: center;
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: var(--light50);
}

.btn:hover {
    filter: brightness(1.2);
}

.content-two {
    width: 40%;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}

section.cards {
    padding: 60px 3%;
}

.leia-manifesto {
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.leia-manifesto h3 {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: var(--primary-500);
}

footer {
    background-image: url(../img/bg-footer.svg);
    min-height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
    background-size: cover;
    margin-top: -46px;
}

.content-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    margin-top: 20px;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-footer h4 {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--light50);
}

.footer-item-menu {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--light50);
}

.footer-item-menu:hover {
    text-decoration: underline;
}

.menu-footer.redes {
    align-self: flex-start;
}

.redes-sociais {
    display: flex;
    gap: 20px;
}

.img-pre-footer {
    display: flex;
    justify-content: flex-end;
    background-image: url(../img/vector-footer.svg);
    width: 103%;
    height: 153px;
    background-position: right;
    background-repeat: no-repeat;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.mobile-only {
    display: none;
}

/* Página Pássaro */
.hero-passaro {
    width: 100%;
    height: 730px;
    background-image: url(../img/bg-passaro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.quem-passaro {
    padding: 10px 3%;
}

.passaro section h2 {
    font-family: 'Bahiana';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    color: var(--primary-500);
}

.content-passaro {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-passaro p {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: justify;
    color: #0C0C0C;
}

.cards-depoimentos {
    display: flex;
    justify-content: space-between;
}

.depoimento {
    height: 425px;
    width: 400px;
    background-image: url(../img/bg-depoimento-boulos.png);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 40px;
    background-repeat: no-repeat;
}

.depoimento.guajajara {
    height: 684px;
    background-image: url(../img/bg-dep-guajajara.png);
    padding: 0 40px;
    align-items: center;
}

.depoimento.ediane {
    height: 438px;
}

.depoimento p {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--light50);
}

section.depoimentos {
    padding: 60px 3%;
}

.legenda {
    display: flex;
    background-image: url(../img/fundo-legenda-boulos.svg);
    background-repeat: no-repeat;
    width: 400px;
    margin-top: -44px;
    background-position: right top;
}

.legenda.leg-guajajara {
    background-image: url(../img/bg-legenda-guajajara.png);
    margin-top: -24px;
    width: 412px;
}

.legenda.leg-ediane {
    background-image: url(../img/bg-legenda-ediane.png);
    width: 350px;
    margin-left: 20px;
}

.legenda.leg-guajajara .content-legenda {
    width: 412px;
    padding: 10px 6px;
}

.legenda.leg-guajajara img {
    margin-top: -30px;
    margin-left: -4px;
}

.legenda.leg-ediane img {
    margin-top: -30px;
}

.content-legenda {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.legenda h4 {
    font-family: 'Sharp Sans Bold';
    font-size: 24px;
    color: var(--primary-500);
}

.legenda p {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.depoimento.ediane {
    height: 438px;
    padding: 30px 48px;
}

/* Página O que Fazemos */
.hero-defendemos {
    height: 340px;
    background-image: url(../img/o-que-defendemos.jpg);
    background-size: cover;
}

.quem-passaro.sec-defendemos {
    padding: 40px 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-accordion {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

.header-accordion {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 70px;
    font-family: 'Bahiana';
    font-style: normal;
    font-weight: 400;
    color: var(--primary-500);
}

.content-accordion {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.header-accordion {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-accordion img {
    transition: opacity 0.3s ease;
}

.header-accordion.open .arrow-icon {
    opacity: 1; 
}

span.destaque  {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 150%;
    color: var(--primary-500);
}


@media (min-width:1480px) {
    .hero {
        height: 890px;
    }
    .img-pre-footer {
        width: 102%;
    }
    .cards-container {
        justify-content: center;
        gap: 20px;
    }
    .content-footer {
        justify-content: space-evenly;
        margin-top: 40px;
    }
    .hero-passaro {
        height: 930px;
    }
    .hero-defendemos {
        height: 453px;
    }
}

@media (max-width: 992px) {
    header nav {
        display: none;
        flex-direction: column;
        background-color: var(--light50);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background-color: var(--primary-500);
    }
    .hamburger-menu {
        width: 68px;
        background-image: url(../img/bg-menu-item.svg);
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-item.active {
        background-image: none;
    }
    .logo img {
        max-width: 170px;
    }
    header {
        padding: 0 0 0 20px;
        height: 60px;
    }
    .menu-item.active {
        color: var(--light50);
    }
    .menu-item {
        padding: 0;
        height: 60px;
        color: var(--light50);
        text-align: center;
    }
    .hero {
        background-size: cover;
        align-items: flex-start;
        height: 820px;
        background-image: url(../img/bg-hero-tablet.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFD800;
    }
    section.minha-trajetoria {
        padding: 0 20px;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .content-one {
        width: 100%;
    }
    h2.desk-only {
        display: none;
    }
    h2.mobile-only {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 40px;
    }
    .content-hero {
        width: 100%;
        margin-top: 40px;
        margin-right: 0;
    }
    .content-two {
        width: 100%;
        text-align: center;
    }
    .content-two img {
        max-width: 360px;
    }
    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .content-footer {
        flex-direction: column;
        gap: 40px;
        margin: 80px 0 40px;
    }
    .menu-footer {
        text-align: center;
    }
    .menu-footer.redes {
        align-self: center;
    }
    .cards-depoimentos {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .hero-passaro {
        background-size: cover;
        height: 428px;
    }
    .hero-defendemos {
        height: 230px;
    }
}

@media (max-width: 576px) {
    .hero {
        height: 420px;
        padding: 30px 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFD800;
        background-image: url(../img/bg-mobile.png);
    }
    .content-hero {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
    }
    .title-hero h1 {
        font-size: 45px;
        font-weight: normal;
    }
    .title-bigger {
        font-size: 60px;
        font-weight: normal;
    }
    h3.desc  {
        font-size: 12px;
        line-height: 20px;
    }
    .content-one h2 {
        font-size: 35px;
    }
    section.minha-trajetoria {
        padding-top: 10px;
        gap: 0;
    }
    .desk-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    .minha-trajetoria h2 {
        font-family: 'Bahiana';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        text-transform: uppercase;
        text-align: center;
        color: var(--primary-500);
    }
    .content-two {
        width: 100%;
        text-align: center;
    }
    .content-two img {
        max-width: 246px;
        margin-bottom: 30px;
    }
    .btn {
        width: 150px;
        height: 54px;
        font-size: 16px;
    }
    .cards-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .cards-container img {
        max-width: 256px;
    }
    .leia-manifesto h3 {
        font-size: 20px;
        font-weight: bold;
    }
    section.cards {
        padding: 40px 20px;
    }
    .leia-manifesto {
        padding: 0 20px;
        gap: 10px;
        padding-bottom: 50px;
    }
    .img-pre-footer {
        display: none;
    }
    footer {
        margin-top: 0;
        background-image: url(../img/bg-footer-mobile.svg);
    }
    .content-footer {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        gap: 20px;
    }
    .logo-footer img {
        max-width: 245px;
    }
    .menu-footer h4,
    .footer-item-menu {
        font-size: 16px;
    }
    .menu-footer {
        text-align: center;
    }
    .menu-footer.redes {
        align-self: center;
    }
    h2.mobile-only {
        margin-top: 0;
    }
    .content-footer {
        margin: 20px 0;
    }
    .hero-passaro {
        background-size: cover;
        height: 180px;
    }
    .passaro section h2 {
        font-size: 25px;
    }
    .content-passaro p {
        font-size: 12px;
    }
    .content-passaro {
        gap: 20px;
    }
    section.quem-passaro {
        padding: 10px 20px;
    }
    section.depoimentos {
        padding: 60px 20px;
    }
    .depoimento {
        max-width: 100%;
        height: 351px;
        background-size: contain;
        padding: 30px;
    }
    .legenda {
        max-width: 100%;
        width: 310px;
        margin-left: 20px;
    }
    .depoimento p {
        font-size: 16px;
    }
    .legenda h4 {
        font-size: 18px;
    }
    .legenda p {
        font-size: 12px;
    }
    .card-dep {
        max-width: 100%;
    }
    .legenda img {
        margin-top: -14px;
        margin-left: -25px;
    }
    .depoimento.guajajara {
        height: 580px;
        align-items: flex-start;
        padding: 30px 40px;
    }
    .legenda.leg-guajajara {
        max-width: 100%;
        margin-top: -50px;
        width: 300px;
    }
    .legenda.leg-guajajara img {
        margin-top: -30px;
        margin-left: -27px;
    }
    .depoimento.ediane {
        height: 365px;
        padding: 20px;
    }
    .legenda.leg-ediane {
        margin-top: -52px;
        width: 260px;
    }
    .hero-defendemos {
        height: 140px;
        background-image: url(../img/bg-defendemos.jpg);
    }
    h2.header-accordion {
        font-size: 24px;
    }
    .header-accordion img {
        height: 24px;
        width: 24px;
    }
    .content-passaro {
        gap: 0;
    }
    .content-accordion {
        gap: 20px;
        margin-top: 20px;
    }
    span.destaque {
        font-size: 16px;
    }
    .quem-passaro.sec-defendemos {
        padding: 40px 20px;
    }
    .o-que-defendemos .leia-manifesto {
        padding: 0;
    }
}